@media all and (min-width: 992px) {
  .navbar .nav-item .dropdown-menu {
    display: none;
  }
  .navbar .nav-item:hover .dropdown-menu {
    display: block;
  }
  .navbar .nav-item .dropdown-menu {
    margin-top: 0;
  }
  .dropdown-menu.show {
    background: #343a40;
  }
  .navbar-nav > li > .dropdown-menu {
    background-color: #343a40;
  }
}
